/* style.css background: #d9ecff */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #E6EBEB /* grey */;
  overflow: auto;
}

.center {
    text-align: center;
  }
